@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f7f8;
  --foreground: #111418;
  --primary: #137fec;
  --card: #ffffff;
  --border: #e5e7eb;
}

.dark {
  --background: #101922;
  --foreground: #ffffff;
  --card: #1C252E;
  --border: #2d3748;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer base {
  * {
    @apply border-border;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}